/* =====================
          BUTTONS         
   ====================== */

button{
    background-color: var(--background-footer);
    border: none;    
    font-size: .92rem;
    color: white;
    padding: 8px 40px 11px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
  }
    
button:hover{
    background-color: var(--orange-main);
}


.button-green {
    padding-top: 9px;
    padding-bottom: 10px; 
    background-color: var(--green-button);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    transition: background-color 0.1s;    
}

/* .button-green:hover {
    transform: scaleX(1.05);
    transition: transform 0.2s;
} */

.button-modify {
        background-color: var(--cyan-button);
        box-shadow: var(--cyan-button-shadow)
}

.button-modify:hover {
    background-color: var(--cyan-button-hover);
}

.button-delete{
    background-color: #e75a2f;
    box-shadow: #CC4C1E;
}

.button-delete:hover{
    background-color: #ec0000;
    box-shadow: #CC4C1E;
}

.button-add{
    background-color: var(--green-button);
    padding: 9px 50px 12px;
}

.button-add:hover{
    background-color: var(--light-green-button-hover);
}

.button-orange {
    background-color: var(--orange-main);
    color: #fff;
}

.button-orange:hover {
    background-color: #ff821c;    
}

.edit-btn {
    background-color: #3498db;
    color: white;
    min-width: 110px;
    margin-right: 5px;
}

.edit-btn:hover {
    background-color: #2980b9;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
}

.delete-btn:hover {
    background-color: #c0392b;
}

/* Delete button icon styling */
.fa-trash-o::before {
    margin-right: 10px;
    margin-left: 3px;
    font-size: 1rem;
    color: white;
}

/* Edit button icon styling */
.edit-btn .fa-pencil::before {
    margin-right: 8px;
    font-size: 1rem;
    color: white;
    
}