/* =====================
          BUTTONS         
   ====================== */

button{
    background-color: var(--background-footer);
    border: none;    
    font-size: 14px;
    color: white;
    padding: 7px 50px 9px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
  }
    
button:hover{
    background-color: var(--orange-main);
}


.button-green {
    padding-top: 9px;
    padding-bottom: 10px; 
    background-color: var(--green-button);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    transition: background-color 0.1s;    
}

.button-modify {
        background-color: var(--cyan-button);
        box-shadow: var(--cyan-button-shadow)
}

.button-modify:hover {
    background-color: var(--cyan-button-hover);
}

.button-delete{
    background-color: #e75a2f;
    box-shadow: #CC4C1E;
}

.button-delete:hover{
    background-color: #ec0000;
    box-shadow: #CC4C1E;
}

.button-add{
    background-color: var(--green-button);
}

.button-add:hover{
    background-color: var(--light-green-button-hover);
}

.button-orange {
    background-color: var(--orange-main);
    color: #fff;
}

.button-orange:hover {
    background-color: #ff821c;
    
}
