/* =====================
          BUTTONS         
   ====================== */

button{
    background-color: var(--background-footer);
    margin-top: 50px;
    width: 170px;
    border: none;    
    font-size: 14px;
    color: white;
    padding: 7px 20px 8px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Segoe UI', sans-serif;      
  }

button {
    /* margin-top: 9px !important;
    margin-bottom: 12px !important; */
}
    
button:hover{
    background-color: #F15a24;
}

.button-modify {
        background-color: #25A0BD;
        box-shadow: #0E9EA8;
}

.button-modify:hover {
    background-color: #00b0d8;
}

.button-delete{
    background-color: #e75a2f;
    box-shadow: #CC4C1E;
}

.button-delete:hover{
    background-color: #ec0000;
    box-shadow: #CC4C1E;
}

.button-add{
    background-color: #4CAF50;
}

.button-add:hover{
    background-color: #29c73e;
}

.button-orange {
    background-color: var(--orange-main);
    color: #fff;
}

.button-orange:hover {
    background-color: #ff821c;
    
}

.button-purchase {
    width: 190px;
  }

.button-back {
    background-color: #000000;
    color: white;    
  }    
  
.button-margin-right {
    margin-right: 40px;
  }