/* =====================
           COLORS        
   ====================== */

:root {
    --orange-main: #f15a24;   /*   main app logo color*/
    --orange-strong: #f15a24;   /* color of header baseline  */
    --orange-light: #eb8d00;
    --violet: #4625d6;    /*  not used yet, but cool  */
    --background-gray: #2d2d2d; /* background header and footer - app background*/
    --background-footer: #222222; /* background of footer*/
    --success: #5ea93c;
    --main-title-colors: #000;   /*  main titles of each page */
    --green-button: #28af43;   /*  main green color for positive buttons  */
    --light-green-button: #4CAF50;  /*   add element button */
    --light-green-button-hover: #29c73e;  /*   add element button hover*/
    --cyan-button: #25A0BD;  /*  ej: modify button */
    --cyan-button-shadow: #0E9EA8;  /*  shadow for cyan  button */
    --cyan-button-hover: #00b0d8;   /*  hover color for cyan  button */
}
