.event-details-main-container {
  padding: 40px 40px;
}

.event-details-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
}

.event-details-leftPanel {
  flex: 1 1 50%;  
}

.event-details-rightPanel {  
  flex: 1 0 40%;  
}

.event-details-img {
  width: 100%;  
  max-height: 600px;
  object-fit: cover;
}

.event-details-description-container {
  
}

.event-details-description-text {
  display: block;
  margin-bottom: 30px;
}

.event-detail-button-right-margin {
  margin-right: 40px;
}

/* -------------------- */


.css-remove-styling {
  cursor: auto;
}

.css-remove-styling:hover {
  color: black;
}

.remove-margin {
  margin: 0;
}




.css-margin-top-25px {
  margin-top: 25px;
}

.css-reviews-div {
  width: 600px;
}


.css-star-size {
  height: 25px;
  width: 25px;
}

.css-reviews-text-div {
  margin-left: 20px;
}

.css-margin-top-10px{
  margin-top: 10px;
}

.css-margin-bottom-10px{
  margin-bottom: 10px;
}

.css-margin-bottom-0px{
  margin-bottom: 0;
}

.css-margin-top-0px{
  margin-top:0px;
}
