.profile-main-container {
  display: flex; 
  flex-direction: column;   
  width: 100%;  
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

.profile-hero-img {    
  position: absolute;
  background-color: var(--background-gray);
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;    
  z-index: -1;    
}


.profile-card {
  display: flex;
  width: 100%;
  max-width:800px;
  flex-direction: column;
  align-items: center;
  padding: 50px 120px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;  
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);    
}

@media (max-width: 350px) {
  .profile-card {
    padding: 50px 40px;
  }
}

.profile-user-img-container {
    width: 140px;
    height: 140px;
    background: var(--orange-light);
    border-radius: 50%;
    font-size: 30px;
    margin: 0 auto 40px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-user-img-container .fa-user-o {
  color: #FFF;  
  font-size: 45px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.profile-label {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  
}

.profile-data {
  font-size: 28px;  
  font-weight: 500;
  margin-bottom: 25px;
}

.profile-main-container .button-back {
  margin-top: 40px;
  font-size: 15px;
}

.profile-tickets {
  font-size: 18px; 
  color: #777777;
  font-weight: 400;
}

/*  MOVE THE FOLLOwinG TO APPROPRIATE FILE --- next update*/
  
  .css-tickets-info {
    display: flex;
    margin-bottom: 30px;
    text-align: left;
    justify-content: flex-start;
  }
  
  .css-ticketsPic-div {
    width: 150px;
  }
  
  .css-event-ticket-text {
    color: #696969;
    font-weight: bold;
  }
  
  .css-event-ticket-text:hover {
    text-decoration: none;
    cursor: auto;
  }
  
  
  .css-value-text {
    color: black;
    font-weight: bold;
  }
  
  .css-value-text:hover {
    text-decoration: none;
    cursor: auto;
  }
    
  .css-margin-top-none {
    margin-top: 0;
  }
