.ticket-purchase-container {
  display: flex; 
  flex-direction: column;   
  width: 100%;  
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;  
  background-color: #333333;  
}

.ticket-purchase-background {    
  position: absolute;
  background-color: var(--background-gray);
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;    
  z-index: -1;      
}


.ticket-purchase-card {
  display: flex;
  width: 100%;
  max-width:850px;
  flex-direction: column;
  align-items: center;
  padding: 50px 120px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;  
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);    
  border: 2px inset #c7c7c7;
}

.ticket-purchase-title {
  font-size: 1.5rem;
}

.ticket-purchase-img-div {
  width: 100%;
  height: 180px;
  margin-top: 40px;
}

.ticket-purchase-img {  
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
 
.ticket-purchase-eventTitle {  
  color: #000000;
  font-size: 24pt;
  font-weight: bold;
  margin-top: 10px;
}

.ticket-purchase-eventDescription {  
  color: #000000;
  font-size: 1.10rem;
  margin-top: 5px;
  text-align: justify;
}

.ticket-purchase-availableTickets { 
  font-size: 1rem;
  color: #929292;
  font-weight: 500;
  margin-top: 30px;
}

.ticket-purchase-inputTitle {
  font-size: 1.125rem; 
  font-weight: bold; 
  margin-top: 35px;
  margin-bottom: 5px;
}

.ticket-purchase-ticketsToPurchase{
  width: 100px;
  height: 40px;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1.125rem;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.ticket-purchase-AmountButton {
  width: 40px;
  height: 40px;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1.125rem;
  cursor: pointer;
  margin: 0 5px;
  align-items: center;
}

.ticket-purchase-controls-div {
  display: flex;
  justify-content: left;
  align-items: center;
}


