.tickets-main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  justify-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 40px;
}

.tickets-text-header {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;  
  width: 100%;
  padding: 40px 10% 10px;
}

.ticket-totals {  
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.tickets-container {
  display: flex;  
  flex: 1;  
  padding: 0px 10% 50px;
  flex-direction: row;
  flex-wrap: wrap;    
  width: 100%;
  justify-content: space-around;
  justify-items: center;
  align-items: flex-start;
  /* line-height: 1.5; */
  gap: 40px;
}

#tickets {
  scroll-margin-top: 155px; 
}

.tickets-button-back {
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
}
