dialog {
    position: fixed;
    width: 450px;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);    
    background: #ffffff;
    color: #333;
    text-align: center;
    padding: 0 30px 30px;    
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    overflow: visible;
}

dialog::backdrop {
    background: rgba(30, 30, 30, 0.8);
  }

.dialog-icon {
    width: 80px;
    margin-top: -40px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dialog-title {
    font-size: 26px;
    margin: 30px 0 10px;
    font-weight: 500;
}

.dialog-message {
    font-size: 18px;    
}

.dialog-close-button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;    
    /* background-color: #007a7a; */
    background-color: var(--cyan-button);
    color: #ffffff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);    
}


.bdialog-close-button:hover {
    background-color: var(--cyan-button-hover);
}