.css-header {
  background-color: #2d2d2d;
  height: 80px;
  display: flex;

}

.css-headerContent {
  display: flex;
  padding: 15px;
  justify-content: center;
  text-align: center;
}

/* =====================
       LOGO in HEADER        
   ====================== */
   .logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
  }

  .logo-header-img {
      height: 38px;  
  }

/* =====================
        HOME ICON   
   ====================== */

.css-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.css-icon {
  height: 26px;
  cursor: pointer;
  margin-top: 7px;
}

/* =====================
          TEXT    
   ====================== */

p {
  margin-right: 40px;
}

.css-text-div p:hover {
  color: #d2d2d2;
}

p:visited {
  color: #ffffff;
}

.no-underline {
  text-decoration: none;
  color: inherit;
}

.css-text-div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.css-home-text {
  color: #999999;
  cursor: pointer;

}

.css-home-text:hover {
  color: #d3d3d3;
}


/* =====================
        ORANGE LINE     
   ====================== */
.css-orange-line {
  height: 10px;
  background-color: #f15a24;
}


/* =====================
         SIGN OUT      
   ====================== */

.css-signout-div {
  display: flex;
  flex: 200px;
  justify-content: flex-end;
  padding: 15px;
  align-items: center;

}

.css-signout-logo {
  height: 26px;
  cursor: pointer;
  margin-top: 1px;
  margin-right: 5px;
}

.css-signout-text {
  margin: 0px;
  margin-right: 10px;
  color: #999999;
  font-size: 16px;
  cursor: pointer;  
}

.css-signout-text:hover {
  color: #e0e0e0;
}

/* =====================
        USER LOGGED      
   ====================== */

.css-user-div{
  display: flex;
  justify-content: flex-end;
  align-items: top;
}

.css-user-logged{
  color: #999999;
  font-size: 14px;
  font-weight: 500;;
}

.css-user-logged:hover{
  text-decoration: none;
  color: #999999;
  cursor:auto;
}